#logo{float: left; width: 180px;height:56px;padding:0 !important}
.footer{z-index:200 !important;}
.navbar-adv{
    float: left;
    height: 52px;line-height:52px;
    padding: 0;
    width:220px}

.user-name{font-weight:bold;font-size:14px;line-height:28px}

/*-设备列表页相关-*/
.search-box,.search-box li{overflow:hidden!important;zoom:1!important;list-style:none;padding:0;margin:0}
.search-box{padding:8px 0 0 0}
.search-box>li{margin-bottom:15px}
.search-box>li>div>p{line-height:34px}
.search-box>li>label{text-align:left!important}
.search-box p{padding:0}

.btn-box{padding:0 0 12px 0;margin-bottom:12px;border-bottom:1px dotted #efefff}

.equip-title{width:100%;padding:8px 12px 0 12px;margin-bottom:12px;overflow:hidden;zoom:1;border-bottom:1px dotted #efefff}
.equip-title>p{line-height:36px}
.equip-title>p>i{padding-top:10px}

/*-用户管理-*/
.management-title{width:100%;padding:8px 12px 0 12px;margin-bottom:12px;overflow:hidden;zoom:1;border-bottom:1px dotted #efefff}
.management-title>p{line-height:36px}
.management-title>p>i{padding-top:10px}

.list-box1{}
.list-box1>li{padding:8px 0 8px 8px;border-bottom:1px dotted #efefff}
.list-box1>li>label{text-align:left!important}


/*-margin和padding和border-*/
.margin-b0{margin-bottom:0}
.border-b0{border-bottom:none!important}

.clear{clear:both}

/*-字体-*/
.text-16{font-size:16px}
.text-18{font-size:18px}
.text-gray{color:gray}
.text-off{color:#d3d3d3;cursor:crosshair}
.text-gainsboro{color:gainsboro}