<div class="modal-content">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">添加设备</h4>
        <small class="font-bold">Add equipment</small> </div>

    <div class="modal-body">

        <form method="get" class="form-horizontal">

            <ul class="search-box">
                <li class="col-lg-6">
                    <label class="col-lg-2 control-label">编号</label>
                    <div class="col-lg-10 search-text"><input type="text" class="form-control" placeholder="请输入设备编号"></div>
                </li>

                <li class="col-lg-6">
                    <label class="col-lg-2 control-label">类别</label>
                    <div class="col-lg-10">
                        <select class="form-control" name="类别">
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                        </select>
                    </div>
                </li>
            </ul>

            <div class="hr-line-dashed"></div>

            <ul class="search-box">
                <li class="col-lg-6">
                    <label class="col-lg-2 control-label">状态</label>
                    <div class="col-lg-10">
                        <select class="form-control" name="状态">
                            <option>已使用</option>
                            <option>未使用</option>
                        </select>
                    </div>
                </li>
                <li class="col-lg-6">
                    <label class="col-lg-2 control-label">企业</label>
                    <div class="col-lg-10"><input type="text" class="form-control" placeholder="请输入您的企业名称"></div>
                </li>
            </ul>

            <div class="hr-line-dashed"></div>

            <ul class="search-box">
                <li class="col-lg-6">
                    <label class="col-lg-2 control-label">范围</label>
                    <div class="col-lg-4">
                        <select class="form-control pull-right" name="省">
                            <option>江苏省</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control pull-right" name="市">
                            <option>昆山市</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control pull-right" name="区（县）">
                            <option>玉山镇</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                        </select>
                    </div>
                </li>

                <li class="col-lg-6">
                    <label class="col-lg-2 control-label">地址</label>
                    <div class="col-lg-10"><input type="text" class="form-control" placeholder="请输入设备安装地址"></div>
                </li>

            </ul>

            <div class="hr-line-dashed"></div>

        </form>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">关闭</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">保存设置</button>
    </div>
</div>