<div class="modal-content">
    <div class="color-line"></div>
    <div class="modal-header">
            <span class="label label-danger pull-right">紧急</span>
            <h5 class="modal-title" style="overflow:hidden;height:40px">主题主题主题主题主题主题主题主题</h5>
            <div><span class="font-extra-bold">来自： </span> <a>高级管理员</a></div>
            <div><span class="font-extra-bold">日期： </span> 2016.06.21 08:00:00</div>
    </div>

    <div class="modal-body">

            <div>
                <h4>你好！ </h4>

                <p>
                    印刷排版业的伪文本。Lorem存有已经dustrys标准虚拟文本自从16世纪，当一个未知的打印机把厨房型和炒它做字体样本。它不仅存活了五个世纪，而且还跨越了电子排版，基本上保持不变。这是流行在上世纪60年代随着拉突激光印字传输系统含Lorem存有通道释放，和更多
                    所有Lorem存有发电机在互联网上倾向于必要时重复预定义的块，使互联网上的第一个真正的发电机。它使用一个字典超过200个拉丁词，结合一些模型的句子结构，生成Lorem存有看起来合理。最近。
                </p>
            </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">关闭</button>
    </div>
</div>