<div class="modal-content">
  <div class="color-line"></div>
  <div class="modal-header">
      <h4 class="modal-title">查看详情</h4>
      <small class="font-bold">View details</small> </div>

    <div class="modal-body">

        <form method="get" class="form-horizontal">

            <ul class="search-box">
                <li class="col-lg-6 forum-heading">
                    <label class="col-lg-3 control-label">用户</label>
                    <div class="col-lg-9"><p>UerName</p></div>
                </li>

                <li class="col-lg-6">
                    <label class="col-lg-3 control-label">真实信息</label>
                    <div class="col-lg-9">
                        <p>信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息</p>
                    </div>
                </li>
            </ul>


            <ul class="search-box">
                <li class="col-lg-6">
                    <label class="col-lg-3 control-label">联系电话</label>
                    <div class="col-lg-9">
                        <p>0578-2255446</p>
                    </div>
                </li>
                <li class="col-lg-6">
                    <label class="col-lg-3 control-label">联系人</label>
                    <div class="col-lg-9">  <p>某某某</p></div>
                </li>
            </ul>

            <ul class="search-box">
                <li class="col-lg-6">
                    <label class="col-lg-3 control-label">省份</label>
                    <div class="col-lg-9">
                        <p>江苏省</p>
                    </div>

                </li>

                <li class="col-lg-6">
                    <label class="col-lg-3 control-label">城市</label>
                    <div class="col-lg-9">  <p>昆山市</p></div>
                </li>
            </ul>

            <ul class="search-box">

                <li class="col-lg-6">
                    <label class="col-lg-3 control-label">区（县）</label>
                    <div class="col-lg-9">  <p>某某区</p></div>
                </li>

                <li class="col-lg-6">
                    <label class="col-lg-3 control-label">帐号状态</label>
                    <div class="col-lg-9">  <p>已使用</p></div>
                </li>
            </ul>

            <ul class="search-box">

                <li class="col-lg-6">
                    <label class="col-lg-3 control-label">可查看设备</label>
                    <div class="col-lg-9">  <p>no.ddd no.5456 no.5545</p></div>
                </li>

                <li class="col-lg-6">
                    <label class="col-lg-3 control-label">创建时间</label>
                    <div class="col-lg-9"><p>2015.05.22</p></div>
                </li>

            </ul>


        </form>


    </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">关闭</button>
        <button type="button" class="btn btn-primary"  ng-click="ok()">保存设置</button>
        </div>
 </div>