<div class="modal-content">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">高级搜索</h4>
        <small class="font-bold">Advanced search</small> </div>

    <div class="modal-body">

        <form method="get" class="form-horizontal">

            <ul class="search-box">
                <li class="col-lg-6">
                    <label class="col-lg-2 control-label">类别</label>
                    <div class="col-lg-10">
                        <select class="form-control" name="类别">
                            <option>政府</option>
                            <option>学校</option>
                            <option>企业</option>
                        </select>
                    </div>
                </li>
                <li class="col-lg-6">
                    <label class="col-lg-2 control-label">状态</label>
                    <div class="col-lg-10">
                        <select class="form-control" name="状态">
                            <option>启用</option>
                            <option>停用</option>
                        </select>
                    </div>
                </li>

            </ul>

            <ul class="search-box">

                <li class="col-lg-12">
                    <label class="col-lg-1 control-label">区域</label>
                    <div class="col-lg-5">
                        <select class="form-control pull-right" name="省">
                            <option>江苏省</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control pull-right" name="市">
                            <option>昆山市</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control pull-right" name="区（县）">
                            <option>玉山镇</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                        </select>
                    </div>
                </li>
            </ul>

            <ul class="search-box">

                <li class="col-lg-6">
                    <label class="col-lg-2 control-label">用户</label>
                    <div class="col-lg-10"><input type="text" class="form-control" placeholder="请输入要搜索的用户名"></div>
                </li>

                <li class="col-lg-6">
                    <label class="col-lg-2 control-label">单位</label>
                    <div class="col-lg-10"><input type="text" class="form-control" placeholder="请输入要搜索的单位名称"></div>
                </li>

            </ul>


            <ul class="search-box">

                <li class="col-lg-12">
                    <label class="col-lg-1 control-label">地址</label>
                    <div class="col-lg-11"><input type="text" class="form-control" placeholder="请输入设备Mac地址"></div>
                </li>

            </ul>

            <div class="hr-line-dashed"></div>

            <ul class="search-box">
                <li class="col-lg-12">

                    <div class="col-lg-11 col-lg-offset-1">
                        <button class="btn w-xs btn-success" type="button" ng-click="openModal_ma01('lg')"> <i class="fa fa-search"></i> <span class="bold">搜索</span></button>
                    </div>
                </li>
            </ul>

        </form>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">关闭</button>
    </div>
</div>