<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<object id="AuthIE" name="AuthIE" width="0px" height="0px"
        codebase="DogAuth.CAB#version=2,1,0,43502"
        classid="CLSID:05C384B0-F45D-46DB-9055-C72DC76176E3">
</object>
<div class="login_box">
    <div class="login_container">

        <div class="row">
            <div class="col-lg-12">

                <div class="text-center m-b-md col-lg-12">
                    <h3>欢迎登录七星博士环境质量管理系统</h3>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5"><span class="big_logo"></span></div>
                <div class="col-lg-7 col-md-5 col-sm-5">

                    <form action="#" id="loginForm">
                        <div class="form-group form_box m-r-lg">
                            <label class="control-label" for="username"><i class="fa fa-user"></i> 用户名</label>
                            <input type="text" placeholder="example@gmail.com" title="Please enter you username" required="" name="username" id="username" class="form-control">
                            <!--<span class="help-block small">请正确填写您的用户名</span>-->
                        </div>
                        <div class="form-group form_box m-r-lg">
                            <label class="control-label" for="password"><i class="fa fa-key"></i> 密码</label>
                            <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                            <!--<span class="help-block small">请填写您的密码</span>-->
                        </div>
                        <div class="clear m-r-lg">
                            <button class="btn btn-success col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-md">登录系统</button>
                            <div class="tips"><p><i class="fa fa-phone"></i><span> 如需帮助，请致电：0512-xxxxxxxx</span></p></div>
                        </div>
                    </form>

                    <p class="login_footer"><strong>七星博士环境质量管理系统</strong> - 版权信息 <br/> 2015 Copyright Company Name</p>

                </div>

            </div>
        </div>

    </div>
</div>

<script src="/app/js/Func.js"></script>

<script language="javascript">
    loadFunc()

    var dogNotPresent = false;
    //Callback function, if the dog has been removed the function will be called.
    function removeDog()
    {
        alert('removeDog');
        reportStatus(7);
    }

    //Callback function, if the dog still exists the function will be called.
    function insertDog()
    {
        alert('insertDog');
        window.location.href = "Login.php";
    }

    function checkDog()
    {
        var stat = "";
        var authCode = "";
        var scope = "<dogscope/>\n";

        //Get Auth Code
        authCode = getAuthCode();

        //Get object
        objAuth = getAuthObject();

        //Open
        stat = objAuth.Open(scope, authCode);
        if(0 != stat)
        {
            dogNotPresent = true;
            reportStatus(stat);
        }
        else
        {
            if (dogNotPresent == true)
            {
                dogNotPresent = false;
                window.location.href = "Login.php";
            }
        }

        //Execute the check again after 2 seconds
        setTimeout(checkDog, 2000);
    }

    //Load callback functions, insertDog() and removeDog()
    function loadFunc()
    {
        alert('aaa');
        var objAuth;

        //Get object
        objAuth = getAuthObject();

        if(navigator.userAgent.indexOf("Window")>0)
        {
            //Windows
            if (window.ActiveXObject || "ActiveXObject" in window)  //IE
            {
                objAuth.SetCheckDogCallBack("insertDog", "removeDog");
            }
            else
            {
                objAuth.SetCheckDogCallBack("insertDog", "removeDog");
                objAuth.InsertFunc = insertDog;
                objAuth.RemoveFunc = removeDog;
            }
        }
        else if(navigator.userAgent.indexOf("Mac")>0)
        {
            setTimeout(checkDog, 1000);
        }
        else if(navigator.userAgent.indexOf("Linux")>0)
        {
            setTimeout(checkDog, 1000);
        }
        else
        {
            ;
        }
    }
//
//
//    function validateLogin()
//    {
//        var challenge = "";
//        var stat = "";
//        var objAuth = "";
//        var vmData = "";
//        var dogID = "";
//        var digest = "";
//        var scope = "<dogscope/>\n";
//        var authCode = "";
//        var name = document.getElementById("username").value;
//        var pwd = document.getElementById("password").value;
//
//        document.getElementById("password").value="";
//
//        if(pwd.length<6 || pwd.length>16)
//        {
//            reportStatus(700);
//            return false;
//        }
//
//        if(window.ActiveXObject || "ActiveXObject" in window) //IE
//        {
//            //Add onfocus event
//            var obj = document.getElementById("password");
//            if (Object.hasOwnProperty.call(window, "ActiveXObject") && !window.ActiveXObject)
//            {	//Browser is IE 11
//                obj.addEventListener("onfocus", clearInfo, false);
//            }
//            else
//            {
//                obj.attachEvent("onfocus", clearInfo);
//            }
//        }
//
//        //Get Object
//        objAuth = getAuthObject();
//
//        //Get Auth Code
//        authCode = getAuthCode();
//
//        //Open the dog
//        stat = objAuth.Open(scope, authCode);
//        if(0 != stat)
//        {
//            reportStatus(stat);
//            return false;
//        }
//
//        //Verify the password
//        stat = objAuth.VerifyUserPin(pwd);
//        if(0 != stat)
//        {
//            objAuth.Close();
//            reportStatus(stat);
//            return false;
//        }
//
//        //Get the DogID
//        stat = objAuth.GetDogID();
//        if(0 != stat)
//        {
//            objAuth.Close();
//            reportStatus(stat);
//            return false;
//        }
//
//        //Save the DogID
//        dogID = objAuth.DogIdStr;
//        document.getElementById("dogid").value = dogID;
//
//        //Get challenge string
//        challenge = getChallenge();
//        if(-1 != challenge.indexOf("error"))
//        {
//            if(-1 != challenge.indexOf("undefined function dog_auth_get_challenge"))
//            {
//                reportStatus(1010);
//            }
//            else
//            {
//                reportStatus(1002);
//            }
//            objAuth.Close();
//            return false;
//        }
//        else if(-1 != challenge.indexOf("session_start"))
//        {
//            if(-1 != challenge.indexOf("No such file or directory"))
//            {
//                reportStatus(1011);
//            }
//            else
//            {
//                reportStatus(1002);
//            }
//            objAuth.Close();
//            return false;
//        }
//
//        //Generate digest
//        stat = objAuth.GetDigest(challenge);
//        if(0 != stat)
//        {
//            objAuth.Close();
//            reportStatus(stat);
//            return false;
//        }
//
//        digest = objAuth.DigestStr;
//        document.getElementById("response").value = digest;
//
//        //Do authenticate
//        stat = doAuth(dogID, digest);
//        if(0 != stat)
//        {
//            objAuth.Close();
//            reportStatus(stat);
//            return false;
//        }
//
//        objAuth.Close();
//        return true;
//    }


</script>

<script language="javascript">
    try
    {
        var stat = 0;
        var objAuth = "";
        var authCode = "";
        var scope = "<dogscope/>\n";

        embedTag();
        console.log(embedTag())

        //Get object
        objAuth = getAuthObject();
        console.log(objAuth)

        //Get Auth Code
        authCode = getAuthCode();
        //Open the dog
        stat= objAuth.Open(scope, authCode);

        if(0 != stat)
        {
            reportStatus(stat);
            throw ("Open Dog Error!");
        }

        //Get username from the dog
        stat= objAuth.GetUserName();
        if(0 != stat)
        {
            objAuth.Close();
            reportStatus(stat);
            throw ("Get Dog Username Error!");
        }
        document.getElementById("username").value=objAuth.UserNameStr;
        objAuth.Close();
    }
    catch(e)
    {
        alert(e.message);
    }
</script>