<!-- Header -->
<title xmlns="http://www.w3.org/1999/html">七星博士环境质量管理系统</title>

<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">

    <div small-header="" class="small-header ng-scope">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a ui-sref="dashboard" href="#/dashboard">首页</a></li>
                        <li ng-repeat="state in $state.$current.path" ng-switch="$last || !!state.abstract" ng-class="{active: $last}" class="ng-scope active">
                            <span ng-switch-when="true" class="ng-binding ng-scope">用户管理</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs ng-binding">
                    用户管理
                </h2>
                <small class="ng-binding">User Management</small>
            </div>
        </div>
    </div>

    <div class="content" animate-panel effect="zoomIn">

        <div class="row">

            <div class="hpanel">

                <div class="panel-body list">
                    <div class="table-responsive project-list">
                        <table class="table table-striped">

                            <thead>
                            <tr>
                                <th width="8%">用户名</th>
                                <th>真实信息</th>
                                <th>联系电话</th>
                                <th>联系人</th>
                                <th>省份</th>
                                <th>城市</th>
                                <th>区域</th>
                                <th>具体地址</th>
                                <th>帐号状态</th>
                                <th>可查看设备</th>
                                <th>创建时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>UserName</td>
                                <td>信息信息信息</td>
                                <td>0512-5252564456</td>
                                <td>某某</td>
                                <td>xxx省</td>
                                <td>xxx市</td>
                                <td>某某区</td>
                                <td>详细地址地址地址地址</td>
                                <td><i class="fa fa-toggle-off text-16"></i></i></td>
                                <td>abcd</td>
                                <td>2016-05-01</td>
                            </tr>
                            <tr>
                                <td>UserName</td>
                                <td>信息信息信息</td>
                                <td>0512-5252564456</td>
                                <td>某某</td>
                                <td>xxx省</td>
                                <td>xxx市</td>
                                <td>某某区</td>
                                <td>详细地址地址地址地址</td>
                                <td><i class="fa fa-toggle-on text-success text-16"></i></td>
                                <td>abcd</td>
                                <td>2016-05-01</td>
                            </tr>
                            <tr>
                                <td>UserName</td>
                                <td>信息信息信息</td>
                                <td>0512-5252564456</td>
                                <td>某某</td>
                                <td>xxx省</td>
                                <td>xxx市</td>
                                <td>某某区</td>
                                <td>详细地址地址地址地址</td>
                                <td><i class="fa fa-toggle-on text-success text-16"></i></td>
                                <td>abcd</td>
                                <td>2016-05-01</td>
                            </tr>

                        </table>

                    </div>

                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-default">1</button>
                        <button class="btn btn-default  active">2</button>
                        <button class="btn btn-default">3</button>
                        <button class="btn btn-default">4</button>
                        <button class="btn btn-default">5</button>
                        <button class="btn btn-default">6</button>
                        <button class="btn btn-default">7</button>
                        <button class="btn btn-default">8</button>
                        <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <!-- Right sidebar -->
    <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>

    <!-- Footer -->
    <footer class="footer" ng-include="'views/common/footer.html'"></footer>

</div>