<!-- Header -->
<title xmlns="http://www.w3.org/1999/html">七星博士环境质量管理系统</title>

<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">

    <div small-header="" class="small-header ng-scope">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a ui-sref="dashboard" href="#/dashboard">首页</a></li>
                        <li ng-repeat="state in $state.$current.path" ng-switch="$last || !!state.abstract" ng-class="{active: $last}" class="ng-scope active">
                            <span ng-switch-when="true" class="ng-binding ng-scope">超标警报</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs ng-binding">
                    超标警报
                </h2>
                <small class="ng-binding">Over warning</small>
            </div>
        </div>
    </div>

    <div class="content" animate-panel effect="zoomIn">

        <div class="row">

            <div class="col-lg-12">

                <div class="hpanel margin-b0">
                    <div class="panel-body border-b0">

                        <!--搜索-->
                            <div class="input-group">
                                <input class="form-control" placeholder="搜索..." type="text">
                                <div class="input-group-btn">

                                    <button class="btn w-xs btn-success"  type="button"><i class="fa fa-search"></i> <span class="bold">搜索</span></button>

                                </div>
                            </div>

                    </div>
                </div>

            </div>

            <div class="col-lg-12">
                <div class="panel-heading bg-light border-left border-top border-right clear">
                    <div class="col-lg-10 p-xxs"><h5><i class="fa fa-warning pull-left"></i> 共有<span class="text-success">100</span>条记录</h5></div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">

                            <table class="table table-hover table-striped">

                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>Mac地址</th>
                                <th>类别</th>
                                <th>单位</th>
                                <th>超标物</th>
                                <th>采集时间</th>
                                <th>发送警报</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>no.554</td>
                                <td>mac-5563631232</td>
                                <td>政府</td>
                                <td>某某某某单位</td>
                                <td><span class="label label-danger pull-left m-r-sm m-b-sm">PM2.5</span> <span class="label label-warning pull-left m-r-sm m-b-sm">甲醛</span><span class="label label-danger pull-left m-r-sm m-b-sm">PM2.5</span> <span class="label label-warning pull-left m-r-sm m-b-sm">甲醛</span><span class="label label-danger pull-left m-r-sm m-b-sm">PM2.5</span> <span class="label label-warning pull-left m-r-sm m-b-sm">甲醛</span><span class="label label-danger pull-left m-r-sm m-b-sm">PM2.5</span> <span class="label label-warning pull-left m-r-sm m-b-sm">甲醛</span></td>
                                <td>2016-05-01 12:00:45</td>
                                <td><button class="btn btn-success btn-circle"><i class="pe-7s-volume text-18"></i></button></td>
                            </tr>

                            <tr>
                                <td>no.554</td>
                                <td>mac-5563631232</td>
                                <td>政府</td>
                                <td>某某某某单位</td>
                                <td><span class="label label-warning pull-left m-r-sm m-b-sm">二氧化硫</span></td>
                                <td>2016-05-01 12:00:45</td>
                                <td>
                                    <button class="btn btn-success btn-circle"><i class="pe-7s-volume text-18"></i></button></td>
                            </tr>

                            <tr>
                                <td>no.554</td>
                                <td>mac-5563631232</td>
                                <td>政府</td>
                                <td>某某某某单位</td>
                                <td><span class="label label-warning pull-left m-r-sm m-b-sm">一氧化碳</span></td>
                                <td>2016-05-01 12:00:45</td>
                                <td><button class="btn btn-success btn-circle"><i class="pe-7s-volume text-18"></i></button></td>
                            </tr>

                            <tr>
                                <td>no.554</td>
                                <td>mac-5563631232</td>
                                <td>政府</td>
                                <td>某某某某单位</td>
                                <td><span class="label label-danger pull-left m-r-sm m-b-sm">PM2.5</span></td>
                                <td>2016-05-01 12:00:45</td>
                                <td><button class="btn btn-success btn-circle"><i class="pe-7s-volume text-18"></i></button></td>
                            </tr>
                            </tbody>

                        </table>

                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i></button>
                            <button class="btn btn-default">1</button>
                            <button class="btn btn-default  active">2</button>
                            <button class="btn btn-default">3</button>
                            <button class="btn btn-default">4</button>
                            <button class="btn btn-default">5</button>
                            <button class="btn btn-default">6</button>
                            <button class="btn btn-default">7</button>
                            <button class="btn btn-default">8</button>
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
                        </div>

                        </div>
                </div>
            </div>

        </div>

    </div>

</div>

    <!-- Right sidebar -->
    <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>

    <!-- Footer -->
    <footer class="footer" ng-include="'views/common/footer.html'"></footer>

</div>